NEXT_PUBLIC_GORBAGANA_RPC_URL=https://rpc.gorbagana.wtf
NEXT_PUBLIC_PRIVACY_TRASH_API_URL=http://localhost:3002
NEXT_PUBLIC_PRIVACY_TRASH_PROGRAM_ADDRESS=GGNZHntmkQJvnApZESoUZ8PSmWT9n4jnUDsFrST866se
NEXT_PUBLIC_PRIVACY_TRASH_ALT_ADDRESS=
NEXT_PUBLIC_HASHER_WASM_BASE_PATH=/vendor/lightprotocol/hasher.rs/0.2.1
NEXT_PUBLIC_SITE_URL=http://localhost:3000
